@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Numans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: "Bonheur Royale", cursive;
font-family: "Numans", sans-serif; */

.corps {
  width: 100%;
  font-family: "Numans", sans-serif;
  background-color: rgb(240, 255, 245);
  cursor: url(../img/cursor-3-16-Copie.png), auto;
}
a {
  cursor: url(../img/one-finger-16-vert.png), pointer;
}

#corpsAc {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#titre {
  font-family: "Bonheur Royale", cursive;
  font-size: 90px;
  color: #f0fff5;
  padding: 10px;
  background-color: #28a736;
  mask: radial-gradient(50px at 0 0, #0000 98%, #000) 0/51% 100% no-repeat,
    radial-gradient(45px at 100% 100%, #0000 98%, #000) 100%/51% 100% no-repeat;
    font-weight: 400;
}

.titrepages {
  color: #28a736;
  font-family: "Bonheur Royale", cursive;
  font-size: 90px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 400;
}

#soustitre {
  color: #f0fff5;
  -webkit-text-stroke: 1px #28a736;
  margin-top: 10px;
  font-size: 30px;
  margin-bottom: 25px;
  font-weight: 550;
}

header {
  width: 100%;
}

.lienaccueil {
  text-decoration: none;
  color: rgb(243, 158, 22);
  font-size: 25px;
  margin-left: 40px;
  margin-right: 40px;
}
.lienaccueil:hover {
  border-top: rgb(40, 167, 54) 1px solid;
  margin-top: -1px;
}

#navtitre {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  justify-content: center;
  width: 100%;
}

#divtitre {
  padding: 15px 150px;
}

#conteneurtitrenav {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 60%;
}

footer {
  display: flex;
  justify-content: center;
}

.pied {
  width: 50%;
  text-align: justify;
  margin-top: 40px;
  color: rgb(10, 37, 13);
  opacity: 0.7;
  padding-right: 10px;
  padding-bottom: 20px;
}

.pied a {
  text-decoration: none;
  color: #0a250d;
  font-weight: 600;

}

.pied a:hover {
  color: rgb(240, 255, 245);
  -webkit-text-stroke: 0.6px #f39e16;
  opacity: 1;
  font-weight: 500;
}

.hrpages {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(240, 255, 245, 0),
    rgba(243, 158, 22, 0.75),
    rgba(240, 255, 245, 0)
  );
  width: 80%;
  margin: auto;
}

.sectionpage {
  width: 50%;
  margin: auto;
  margin-top: 15px;
}
.sectionpage iframe {
  margin-bottom: 15px;
}

.trait-orange-gauche {
  display: inline-block;
  height: 2px;
  width: 350px;
  background-image: linear-gradient(
    to right,
    rgba(240, 255, 245, 0),
    rgba(243, 158, 22, 0.75)
  );
  margin-right: 25px;
}

.trait-orange-droite {
  display: inline-block;
  height: 2px;
  width: 350px;
  background-image: linear-gradient(
    to left,
    rgba(240, 255, 245, 0),
    rgba(243, 158, 22, 0.75)
  );
  margin-left: 25px;
}

#nav-mobile {
  display: none;
  position: relative;
  z-index: 1;
}

.ul-nav-mobile {
  list-style: none;
}

.liennavmobile {
  text-decoration: none;
  color: #f39e16;
  padding: 10px;
  display: block;
  font-size: 20px;
}


#ouverture {
  display: none;
}
.apparait {
  display: none;
  position: absolute;
  z-index: 5;
  padding-top: 10px;
  top:110%;
  /* left:24%; */
}

#ouverture {
  cursor: url(../img/one-finger-16-vert.png), pointer;
  margin-top: 5px;
}

.montrer {
  display: block;
}

/* Css spécifique à la page histoire */

#bio {
  width: 60%;
  margin: 25px auto;
  padding-top: 25px;
  text-align: justify;
}

#bio p {
  margin: 20px;
  color: #28a736;
  
}

#bio a {
  color: #0a250d;
}

#bio a:hover {
  color: #f0fff5;
  -webkit-text-stroke: 0.6px rgb(243, 158, 22);
}

#navhistoire {
  display: flex;
  align-items: center;
  height: 200px;
  flex-direction: column;
  padding-top: 50px;
  margin-bottom: 80px;
}

.paragraphe_bio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  align-items: center;
  
}

.paragraphe_bio>p{
  width: 50%;
}


.div-img-histoire{
  width: 45%;
}

.img_histoire {
  width: 100%;
}

.sousparagraphe {
  width: 50%;
}

/* Css spécifique à la page projet */

#titrenavpro {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 60%;
}

.carteprojet {
  width: 23%;
  text-decoration: none;
  text-align: center;
  color: #28a736;
  box-shadow: 0 3px 6px rgb(243, 158, 22);
  margin: 15px;
}

.carteprojet:hover {
  transform: scale(1.1);
}

.conteneurcarte {
  width: 80%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: space-around;
}

.carteprojet img {
  width: 100%;
}

#navprojet {
  display: flex;
  align-items: center;
  height: 200px;
  flex-direction: column;
  padding-top: 50px;
  margin-bottom: 70px;
}

/* Css spécifique à la page information */

#navinfo {
  display: flex;
  align-items: center;
  height: 200px;
  flex-direction: column;
  padding-top: 50px;
  margin-bottom: 80px;
}

#titrenavinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

#lieninfo {
  margin-bottom: 15px;
}

#maininfo section {
  width: 80%;
  margin: auto;
  margin-top: 70px;
  text-align: center;
}
.conteneurimginfo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.divimginfo {
  width: 10%;
  padding: 15px;
}

.divimginfo img {
  width: 100%;
}

.soustitreinfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 45px;
}

.soustitreinfo h2 {
  color: #28a736;
  text-align: center;
  font-size: 40px;
}

#textcomp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

#textcomp p {
  color: #f39e16;
  font-size: 20px;
}

.carteinfo {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35px 15px;
}

.divimgcomp {
  width: 100%;
}

.divimgcomp img {
  width: 70%;
}

#divCV {
  width: 80%;
  margin: auto;
}

#imgCV {
  width: 25%;
}

/* Css spécifique contact */

#navcontact {
  display: flex;
  align-items: center;
  height: 200px;
  flex-direction: column;
  padding-top: 50px;
  margin-bottom: 70px;
}

#titrenavcontact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

#liencontact {
  margin-bottom: 15px;
}

.soustitrecontact {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.soustitrecontact h2 {
  color: rgb(40, 167, 54);
  text-align: center;
  font-size: 40px;
  width: 300px;
}

#titretrouver {
  color: #f0fff5;
  -webkit-text-stroke: 0.8px rgb(40, 167, 54);
  text-align: center;
  font-family: "Bonheur Royale", cursive;
  font-size: 70px;
  margin-top: 70px;
  margin-bottom: 50px;
  text-decoration: underline #f39e16;
  text-decoration-thickness: 1px;
  text-underline-offset:7px;
  font-weight: 500;
}

.conteneurcontact {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  min-height: 150px;
}
.iconecontact {
  font-size: 35px;
}

#conteneurmap {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 100%;
}

#carte {
  width: 400px;
  height: 300px;
}



/* Css transition */
#corpsAc,
.page-transition {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.page-transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(240, 255, 245);
  z-index: 10;
  transform: translate(0, 0);
  opacity: 0;
  transition: transform 0.7s ease, opacity 0.7s ease;
}

.page-transition.show {
  opacity: 1;
}

.slide-left-in {
  transform: translateX(100%);
}
.slide-right-in {
  transform: translateX(-100%);
}
.slide-up-in {
  transform: translateY(100%);
}
.slide-down-in {
  transform: translateY(-100%);
}

.slide-left-in.show {
  transform: translateX(0);
}
.slide-right-in.show {
  transform: translateX(0);
}
.slide-up-in.show {
  transform: translateY(0);
}
.slide-down-in.show {
  transform: translateY(0);
}


@media(max-width:1600px){
  .paragraphe_bio>p {
    width: 45%;
  }

  #bio { 
    width: 70%;
  }
}

@media (max-width: 1200px) {
  #conteneurtitrenav {
    width: 80%;
  }
  #bio {
    width: 80%;
  }

  .pied {
    width: 80%;
  }
  #carte {
    width: 60%;
  }
  .divimginfo {
    width: 20%;
  }

  #titrenavpro {
    width: 80%;
  }

  #titrenavinfo {
    width: 80%;
  }
}


@media (max-width: 992px) {
  #divtitre {
    padding: 15px 40px;
  }

  .titrepages {
    font-size: 60px;
  }

  #navhistoire {
    margin-bottom: 40px;
  }

  .conteneurcontact {
    width: 100%;
  }

  .sectionpage {
    width: 80%;
  }

  .divimginfo {
    width: 25%;
  }

  .ptextcarte {
    font-size: 15px;
  }

  .carteprojet {
    width: 35%;
  }

  #navprojet {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .lienaccueil {
    display: none;
  }
  #nav-mobile{
    display: block;
    width: 90%;
    margin: auto;
    height: fit-content;
  }
  #ouverture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
  }
  #navtitre {
    flex-direction: column;
  }

  header{
    height: fit-content;
  }

  #titrenavpro{
    justify-content: center;
  }

  #menu-nav-mobile{
    margin-bottom: 10px;
    background-color: #f0fff5;
    box-shadow: 2px 4px 5px #f39e16;
    text-align: center;
    width: 100%;
  }
  

.carteprojet {
  width: 43%;
  margin-right: 5px;
  margin-left: 5px;
}

.conteneurcarte{
  width: 90%;
}

.trait-orange-droite, .trait-orange-gauche {
  flex-shrink: 1.7;
}

#textcomp{

  width:90%;
}

.sectionpage{
  width: 90%;
}

#conteneurtitrenav{
  justify-content: center;
}

.paragraphe_bio>p{
  width: 100%;
}

.div-img-histoire{
  width: 100%;
}

.sousparagraphe { 
  width: 100%;
}

#paragraphe_lycee, #paragraphe_p8{
  flex-direction: column-reverse;
}

  #corpsAc{
    padding-bottom: 130px;
  }

}

@media (max-width:578px){

  #carte{
    width: 90%;
  }
  
  footer p {
    font-size: 14px
  }

  #navcontact{
    margin-bottom: 25px;
  }

  .conteneurcontact{
    justify-content: space-around
  }

  .carteprojet{
    width: 80%;
  }

  .divimginfo{
    width: 40%;
  }

  .soustitreinfo h2{
    font-size: 26px;
  }

  #textcomp p {
    font-size: 16px;
  }

  #imgCV {
    width: 65%;
  }

  #bio{
    width: 95%;
  }

  #bio p {
    font-size: 14px;
  }
};
